.contactMainContainer {
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    color:rgb(202, 199, 199);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

form h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
}
.nameLabelInputBox, .emailLabelInputBox {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-block:13px;
}
 
label {
    font-weight: bold;
    font-size: 1.4rem;
   
}

.textareaDiv > textarea, input {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    padding: 12px;
    font-size: large;
    border-radius:3px;
    background-color: transparent;
    box-shadow: 0px 0px 1px rgb(113, 111, 111);
    
}
textarea:focus, input:focus{
    box-shadow: 0px 0px 2px rgb(114, 54, 54);
}
textarea:focus::placeholder, input:focus::placeholder {
    color: rgb(113, 26, 26);
    letter-spacing: 5px;
    transition: .4s;
}

.textareaDiv {
    width: 50%;
}

.textareaDiv > h3 {
    font-family:monospace;
    font-size: 1.4rem;
}

textarea {
    margin-block: 13px;
}

.formSubmitBtn {
    border: none ;
    outline:1px solid brown;
    padding: 8px 42px ;
    font-family: monospace;
    font-size: 1rem;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    margin: 10px 0px;
}
.formSubmitBtn:hover {
    background-color: rgb(141, 21, 21);

}
.formSubmitBtn:active{
    background-color: rgb(65, 0, 0);
    color: white;
}
