nav {
    height: 80px;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 39px 0 39px;
    position: sticky;
    top:0;
    z-index: 10;
}

nav #hamburger {
    display: none;
}

nav h1 {
    cursor: pointer;
    font-family: 'Merriweather', serif;
    background: linear-gradient(90deg, #1CB5E0 0%, #a3a4a5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    

}

main {
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    
}
main a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fffafa;
    transition: .2s;
    padding: 0px 3px;
    
}

main a:hover {
    color:rgb(255, 170, 0);
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 3px;
    transform: translateY(-4px);
}


footer h1 {
    font-size: 1rem;
}

footer p {
    font-size: 0.5rem;
}

footer .followUsLinkBox {
    gap: 20px;
}


